*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 30px;
}

body{
    background-color: rgb(52, 50, 49);
    background-image: url("resources/images/pizza_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header{ 
    background-color: rgb(52, 50, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.pizza_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-right: auto;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.main{
    box-sizing: border-box;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(0,0,0,0.5);
    height: 80%;
}

.info{
    background-color: rgb(26, 25, 25);
    padding: 2% 2% 2% 2%;
    width: 100%;
    height: 57%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;    
}

img{
    width: 50%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recipe{
    margin-left: 17%;
    margin-top: 2%;
    margin-right: 15%;
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ingridients_list {
    margin-top: 0;
    padding-left: 20px;
    text-align: left;
}

footer{
    display: flex;
    box-sizing: border-box;
    background-color: rgb(52, 50, 49);
    align-items: center;
    justify-content: space-between;
}

footer img{
    width: 50px;
}

footer li{
    justify-content: space-between;
    list-style: none;
    display: inline-block;
}

footer nav{
    padding-top: 1%;
    margin-right: 2%;
}

address{
    color: white;
}

.phoneNumber{
    color: white;
    font-size: 20px;
    display: block;
    margin-left: 3%;
}